<!-- this is python code commentified -->
{#{{  album }}#}

{% extends 'music/base.html' %}
{% block title %}
    Album Details
{% endblock %}

{% block body %}

    <img src="{{ album.album_logo  }}"/>

    <h1>{{ album.album_title }}</h1>
    <h3>{{ album.artist }}</h3>

    {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
    {% endif %}

    <form action="{% url 'music:favorite' album.id %}" method="post">
        {% csrf_token %}

        {% for song in album.song_set.all %}
            {% if song.is_favorite == False %}
                <input type="radio" id="song{{ forloop.counter }}" name="song" value="{{ song.id }}">
            {% endif %}
            <label for="song{{ forloop.counter }}">
                {{ song.song_title }}
                {% if song.is_favorite %}
                    <img src="http://images.all-free-download.com/images/graphiclarge/favourites_star_sh_96908.jpg" width="15px" />
                {% endif %}
            </label><br/>
        {% endfor %}

        <input type="submit" value="Favorite" />
    </form>

    {#<ul>#}
    {#    <!-- special Django syntax for-endfor -->#}
    {#    {% for song in album.song_set.all  %}#}
    {#    <li>{{ song.song_title }} - {{ song.file_type }}</li>#}
    {#    {% endfor %}#}
    {#</ul>#}

    <!-- just use default 'toString' of album -->
{% endblock %}